html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; 
  background-color: rgb(170, 255, 255);
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  

.nav {
  background: #000;
  height: 80px;
  width: 100%; }

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto;
  padding: 0; }

.nav ul li {
  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
  -webkit-transition: .5s;
  -o-transition:  .5s;
  transition:  .5s; 
}

 .nav ul li:hover {
  background: #117bff;
  cursor: pointer;
  -webkit-transition:  .5s;
  -o-transition:  .5s;
  transition:  .5s; }

.main .container {
  margin: 80px auto; 
}


.footer {
  background: #000;
  height: 80px;
  padding-bottom: 50px; }

.footer p {
  color: #fff;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0; }

.nav label {
  color:aliceblue;
  margin-left: 5%;
  font-size:larger;
  font-weight:300;
   
}

.signin{
  display: flex;
  justify-content: center;
}
.form{
  margin: 0 auto;
  margin-left: 14%;
}
.box{
  border: 2px solid rgb(0, 73, 73);
  max-width: 500px;
  height: 280px;
  padding: 0 10px; 
  margin: 0 auto;
  background-color: turquoise;
}

button{
  border: 2px solid rgb(0, 0, 0);
  background-color: #bddbff;
    
}

.form label{
  font-weight: bold;
}

.about {
  margin: 80px auto; 
  text-align: center;
  font-size: 30px;
}
.about label{
  font-weight:400;
}
